h1 {
  font-size: 40px;
  font-family: Arial
}

h2 {
  font-size: 25px;
  font-family: Arial
}

h3 {
  font-family: Arial
}

p {
  font-size: 14px;
  font-family: Arial
}

.header-blue {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.content-main {
  margin: auto;
  max-width: 75%;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #fff;
}